.idea/*
ideboaas/.idea/*
ideboaas/bin/*
ideboaas/obj/*/*
packages/*/*
*.suo
IdeboaasWeb/obj/*
IdeboaasWeb/bin/*
IdeboaasWeb/App_Data/aspnet-IdeboaasWeb-20140826085411.mdf
IdeboaasWeb/App_Data/aspnet-IdeboaasWeb-20140826085411_log.ldf
IdeboaasWeb/App_Data/bookings.json
