@{
    ViewBag.Title = "Booking";    
}
<script type="text/javascript">
  var active = "nav-booking";
</script>

<div class="inner cover">
  <h1 class="cover-heading">Booking</h1>
  <div class="calendar-wrapper">
    <div id="calendar-anchor"></div>
  </div>  
</div> 
<script src="~/Scripts/booking.js"></script>