@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
  var active = "nav-instructions";
</script>
<div class="inner cover">
  <h1 class="cover-heading">Den gamle skole i Ideboås</h1>  
</div> 