@{
  ViewBag.Title = "Home Page";
}
<script type="text/javascript">
  var active = "nav-history";
</script>

<div class="inner cover animated fadeIn">  
  <div>
    <div class="center-block main-text">
      <h1 class="cover-heading">Skolens Historie</h1>  
      <p>
        Ideboås gamla skola er som navnet lyder, en gammel skole. Den ligger cirka 300 km nordøst for kbh, i retning mod Oskarshamn.
        Den består af to huse: en skolebygning og en lærerinde bolig. Den ligger på en lille skovvej mellem landsbyerne ideboås og pikaböl.
        I gamle dage i sverige var der tradition for at bygge skolerne mellem de små byer, så behøvede de kun at bygge halvt så mange og samtidig havde eleverne nogenlunde lige langt at gå.
      </p>
      <p>
        Selve skolen er bygget omkring 1920 og udbygget omkring 1930. Den består af to undervisningslokaler, et køkken og to entreer.
        Det ene lokale var til "småbarnsskolan" og det andet til "folkskolan". Der var ansat to lærerinder. en til hver skole.
        De havde en karl ansat som sørgede for alt det praktiske. Skolen havde omkring 30 elever som alle boede i området.
        En af dem var Elsa. Hun kom fra en fattig familie og var en til tider fræk elev som ofte måtte i skammekrogen. Skolen lukkede midt
        i halvtredserne og stod derefter tom, men omkring 1970 vendte Elsa tilbage og købte stedet. Hun havde huset frem til 1999, hvor hun solgte det.
      </p>
      <p>
        Lærerindehuset (det røde hus) er oprindeligt bygget som to selvstændige lejligheder med hver sin indgang. Folkskola lærerinden (som var den mest fine)
        boede i stueetagen, og småbarnsskola lærerinden på 1. sal. Det er nu indrettet med stort spisekøkken, to stuer, vaskerum, fire soveværelser samt et fadebur.
        I huset er der ikke strøm og vand. Vi har dog indstalleret solstrøm til det mest fornødne, og hvis du er tørstig, må du ned til brønden.
      </p>
    </div>  
  </div>  
</div> 