.floating-image{
  position: absolute;
  top:120px;
  right:120px;
  width: 320px;
  height: 214px;
  img {
    border: 5px solid #2b542c;
  }
}

.main-text{
    width:800px;
    padding: 20px;    
    background: rgba(68, 68, 68, 0.4);
    p{
        text-align:left;
    }
}

.fade-in{

}