.calendar-wrapper{
  padding: 20px;
  background: rgba(68, 68, 68, 0.4);
  margin: 0 15% 0 15%;

  #calendar-anchor{
    opacity: 1;

  }
}

.booking-controls{
  >*{
      display:inline-block;   
      margin:0 5px 0 5px;   
  }
  select{
      width:80px;
  }
  
  input[type="text"]{
      width:200px;
  }

  button{
      width:100px;
  }
}

