@{
    ViewBag.Title = "Rute vejledning";
}
<script type="text/javascript">
    var active = "nav-route";
</script>
<div class="inner cover">
    <div class="center-block main-text">
        <h1 class="cover-heading">Rutevejledning</h1>
        <p>
            Følg E20 og E22 til Skåne län, Sverige. På ringvejen omkring Malmø tag afkørslen der peger mod Lund, vejen hedder E22. Tag frakørsel 30-Trafikplats Hörby fra E22
        </p>
        <p>
            Kør af Södra Rörum Häglingevägen gennem Södra Rörum indtil du kommer til Sösdala og 23'eren
        </p>
        <p>
            Følg 23'eren hele vejen til Växsjö. Tag tredje frakørsel ad Sandsbrovägen/Rute 23/Rute 37 i rundkørslen.
        </p>
        <p>
            Efter ca. 12 km drej til højre mod Lenhovda ved et stort kryds i skoven med en parkeringsplads på venstre hånd.
        </p>
        <p>
            I Lenhovda drej til venstre af Romarliden mod Älghult. I Älghult kør lige igennem byen og fortsæt lige ud indtil du kommer til Ideboäs
        </p>
        <p>
            <img src="~/Content/images/kort_ideboaas.jpg" />
        </p>
    </div>
</div> 